body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e07a5f;
    font-size: 14px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 1 0px;
}
h2{
    margin-bottom: 5px;
}
input{
    width: 250px;
    padding: 8px 10px;
}

li{
    list-style-type: none;
    padding: 7px 12px;
    cursor: pointer;
    width: 80px;
    text-align: center;
}
li:hover{
    background-color: #e07a5f;
    border-radius: 3px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3px;
}
img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
section:hover{
    border: 2px solid #e07a5f;
}
.border{
    text-align: center;
    border: 1px solid #adb5bd;
    border-radius: 25px;
}
.grid p{
    margin: 3px 0;
    font-size: 8px;
    color: #e07a5f;
}
.place{
    margin: 0;
    font-size: 12px;
}
h3{
    margin: 0;
    font-size: 14px;
}