body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    background-color: #ade8f4;
    font-size: 12px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
img{
    position: absolute;
    top: -3rem;
    left: -3rem;
    transform: rotate(-20deg);
}
.btn{
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.section{
    width: 500px;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.counter{
    display: flex;
    justify-content: center;
    
   
}
input{
    width: 50px;
    border: 0.5px solid #d3d3d3;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;

}
button{
    font-family: inherit;
    display: block;
    background-color: whitesmoke;
   cursor: pointer;
    border: 0.5px solid #d3d3d3;
    
}
.preview{
    padding: 20px 0px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;

}

.preview button{
    width: 120px;

}
.preview button:hover{
    font-size: 15px;
    padding: 2px 2px ;
    border: 1px solid #2c7da0;
}
.cart{
   display: flex;
   justify-content: center;
}
.cart button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #2c7da0;
    color: whitesmoke;
}
.hide{
    /* scale: 0 1;
    animation: 1s overflow ease 1s; */
    display: none;
}