@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom,
                #f8f9fa 0%,
                #f8f9fa 50%,
                #f07167 50%,
                #ffb4a2 100%);
}
.container{
    width: 1000px;
    display: flex;
    flex-direction: column;
    
}
.header p{
    width: 300px;
    color: #adb5bd;
}
.header h2{
    margin-top: 0;
    padding-top: 0;
}
h2{
    font-size: 25px;
}
.plus-icon{
   align-self: flex-end;
   font-size: 30px;
   border: 1px solid #ced4da;
   padding: 5px 15px;
   color: #ffb4a2;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
button{
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}
.card-comp{
    padding: 30px 80px;
    border: 1px solid #ced4da;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
}
.card-comp button{
    padding: 8px 50px;
    margin-top: 20px;
    border: 1px solid #adb5bd;
    color: #adb5bd;
    background-color: white;
    border-radius: 3px;
}
.continue-btn{
    align-self: flex-end;
    padding: 10px 40px;
    color: white;
    background-color: #ffb4a2;
    border: 1px solid white;
    border-radius: 5px;
}
.card-comp:hover{
    transition: all .07s ease;
    transform: scale(1.1);
    border: 2px solid #f07167;
}
.card-comp button:hover{
    background-color: #84a59d;
    color: white;
    border-color: #84a59d;
}